#simage {
    width: 40%;
    height: 40%;
}

#home-flag {
    width: 80%;
    height: 80%;
}

.area1, .area2 {
    height: 350px;
}

.area2 {
    background-color: #ECF2FF;
    padding-top: 30px;
}

label {
    font-size: 17px;
}

input {
    background-color: #EBC7E6;
}

hr {
    height: 2px;
    background-color: #645CBB;
}