<section>
    <div class="area1" [ngStyle]="{'text-align': 'center'}">
        
        <label>Include the text "name" or "country" to see data?</label><br>
        <input type="text" [(ngModel)]="option" autofocus>

        <section *ngIf="(option|lowercase) === 'name' || (option|lowercase) === 'country'; else incorrect">
            
            <div *ngIf="(option|lowercase) === 'name'">
                <h4>My name is {{student.name}}</h4>
                <img src="{{student.image}}" alt="student image" id="simage">
            </div>
            
            <div *ngIf="(option|lowercase) === 'country'">
                <h4>My home country is {{student.homeCountry}}</h4>
                <img src="{{student.homeFlag}}" alt="home country flag" id="home-flag">
            </div>
        </section>

        <ng-template #incorrect>
            <h4 [ngStyle]="{color: 'red'}">Entry Incorrect... <br>Must enter NAME or COUNTRY</h4>
            <p>Contact me if you have questions: <br><b>{{student.email}}</b></p>
        </ng-template>

    </div>

    <div class="area2" [ngStyle]="{'text-align': 'center'}">
        
        <label>Enter cost of car to purchase:</label><br>
        <input type="number" [(ngModel)]="cost" autofocus>

        <section>
            <div>
                <h4 [ngStyle]="{color: ''}">Car Cost in {{student.currentCountry}}: </h4>
                <h4>{{cost | currency:currencyCodeCurrentCountry}}</h4>
            </div>
            <div>
                <h4 [ngStyle]="{color: ''}">Car Cost in {{student.homeCountry}}: </h4>
                <h4>{{(cost*conversionRate) | currency:currencyCodeHomeCountry}}</h4>
            </div>
        </section>
    </div>
</section>
